/*-------------------------------------------------------
DESCRIPTION: The style sheet for the Players View panel.

AUTHOR(S): Alan Bridgeman
VERSION: 1.0 (2015-02-02)
-------------------------------------------------------*/

#msgPanel
{
	/*float: left;*/
	width: 300px;
	height: 500px;
	padding: 1em;
}
#msgPanel h3
{
	text-align: center;
	margin: 0 0 0.5em 0;
}
#msgTabs
{
	width:100%;
	height:75%;
}
#pmAccordion h4
{
	text-align: center;
	margin: 0;
}
#msgform
{
	width:100%;
	height:25%;
}
#msgform textarea
{
	float:left;
	width: 60%;
	margin: 1em;
}
#msgform button
{
	float:left;
	width:25%;
	margin-top:2em;
	color:#000000;
	background-color: #BDBDBD;
}
#mapPanel
{
	/*float: left;*/
	width: 300px;
	height: 520px;
	padding: 1em;
}
#mapPanel h3
{
	text-align: center;
	margin: 0 0 0.5em 0;
}
#mapAccordion
{
	width:100%;
	height:100%;
}
#mapAccordion h4
{
	text-align: center;
	margin: 0;
}
#charPanel
{
	/*float:left;*/
	width: 300px;
	height: 500px;
	padding: 1em;
}
#charPanel h3
{
	text-align: center;
	margin: 0 0 0.5em 0;
}
#charTabs
{
	width:100%;
	height:90%;
}
#invAccordion h4
{
	text-align: center;
	margin: 0;
}
#newPane
{
	width:100%;
	height:80%;
	margin:0;
	padding:0;
	overflow:auto;
}
#newButton
{
	float:right;
}
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable 
{
	list-style-type: none;
	margin: 0;
	padding: 0.2em;
	width: 60%;
}
#selectable li
{
	margin: 0;
	padding: 5px 0 0 0;
	font-size: 1.2em;
	min-height: 20px;
	text-align: center;
}

select
{
	width: 200px;
}

#sortable1, #sortable2
{
	border: 1px solid #eee;
	width: 142px;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
}
#sortable1 li, #sortable2 li
{
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 120px;
}